* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 15vh;
}
@font-face {
    font-family: "Arial Rounded MT Bold" ;
    src: url(../font1/arialroundedmtbold.ttf);
}
/* @font-face {
    font-family: Arial ;
    src: url(../font2/arial_bolditalicmt.ttf);
} */
/* @font-face {
    font-family: Arial ;
    src: url(../font2/arial_bolditalicmt.ttf);
} */

:root{
    --font1: "Arial Rounded MT Bold" ;
    --font2: sans-serif ;
}
body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: var(--back1); */
    background-image: linear-gradient(to right,#323841,#21252B);
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(../contact/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);

}
.hero span{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #33394282;
    z-index: -1;
}
.hero .title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 35%;
    gap: 20px;
}
.hero .title p:nth-child(1){
    font-size: 55px;
    font-weight: 400;
    color:  #30B6B9;
    -webkit-text-stroke: 1px #000;
    text-transform: capitalize;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.50);
    font-family: var(--font1);
    /* line-height: 70px; */
}
.hero .title p:nth-child(2){
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font2);
    color: #fff;
    width: 60%;
    text-align: center;
    line-height: 40px;
    font-style: normal;
}
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
.content{
    position: relative;
    top: -100px;
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right ,#21252b,#323841,#21252b);
    border-radius: 50px;
    box-shadow: 0 4px 4px #00000080;
    overflow: hidden;
}
.content .left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
    background-color: #323841D4;
    padding-left: 5%;
    padding-top: 2%;
}
.content .left .infos{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    border-bottom: 2px solid hsla(0, 0%, 0%, 0.32);
    padding-bottom: 50px;
}
.content .left .infos > p:nth-child(1){
    color: #30B6B9;
    font-size: 40px;
    font-family: var(--font1);
    font-weight: 400;
    text-transform: capitalize;
}
.content .left .infos > p:nth-child(2){
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font2);
    width: 90%;
}

.content .left .infos .info{
    display: flex;
    justify-content: space-between ;
    align-items: self-start;
    flex-wrap: wrap;
    /* flex-direction: column; */
    height: 40%;
    width: 65%;
}
.content .left .infos .info i{
    /* padding: 20px; */
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #2f8587;
    width: 55px;
    height: 55px;
    box-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.25);

}
.content .left .infos .info .ps{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}
.content .left .infos .info .ps p:nth-child(1){
    color: #30B6B9;
    font-size: 22px;
    font-weight: 400;
    font-family: var(--font1);
    text-transform: capitalize;
    text-shadow: 0 4px 4px #00000040;
}
.content .left .infos .info p:nth-child(2){
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font2);
    text-transform: capitalize;
    color: #fff;
    font-weight: 200;
    width: 100%;
}

.content .left .social{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}
.content .left .social p{
    font-family: var(--font2);
    text-transform: capitalize;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.content .left .social .accs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.content .left .social .accs i{
    background-color: #30B6B9;
    /* padding: 10px; */
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.content .right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    height: 100%;
    padding-left: 5%;
    padding-block: 2%;
}
.content .right p{
    width: 95%;
    text-align: start;
    font-size: 40px;
    font-family: var(--font1);
    color: #30B6B9;
}
.content .right form{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.content .right form input,
.content .right form textarea{
    border-radius: 20px;
    background-color: #5159664A;
    border: none;
    padding: 10px;
    color: #DEDCDCC7;
    box-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.25);
}
.content .right form input{
    width: 45%;
    height: 50px;
}
.content .right form input:nth-child(5),
.content .right form textarea{
    width: 100%;
}
.content .right form textarea{
    height: 135px;
}
.content .right form input:nth-child(7){
    background-color: #2f8587;
    text-transform: capitalize;
    color: #DEDCDC;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    font-family: var(--font2);
}


iframe{
    width: 100%;
    height: 50vh;
    border: none;
    filter: brightness(.5);
}