* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 15vh;
}
@font-face {
    font-family: "Arial Rounded MT Bold" ;
    src: url(../font1/arialroundedmtbold.ttf);
}


:root{
    --font1: "Arial Rounded MT Bold" ;
    --font2: sans-serif ;
    --color1: #30B6B9 ;
    --color2: #fff ;
    --color3: #000 ;
    --shadow1: #00000040 ;
    --shadow2: #000 ;
}
body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: var(--back1); */
    background-image: linear-gradient(to right,#323841,#21252B);
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(../contact/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 0% 0, 0% 0%, 0% 0%);
    animation-name: clip2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: .3s;
    animation-fill-mode: forwards;
}
@keyframes clip2 {
    0% {
        clip-path: polygon(50% 0, 50% 0, 50% 90%, 50% 100%);

        
    }
    100% {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
        
    }
}
.hero span{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3339429e;
    z-index: -1;
}
.hero .title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 35%;
    gap: 20px;
}
.hero .title p:nth-child(1){
    font-size: 55px;
    font-weight: 400;
    color:  var(--color1);
    text-transform: capitalize;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.50);
    font-family: var(--font1);
}
.hero .title p:nth-child(2){
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font2);
    color: var(--color2);
    width: 60%;
    text-align: center;
    line-height: 40px;
    font-style: normal;
}
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
.content{
    position: relative;
    top: -100px;
    width: 75%;
    height: 88vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #21252b, #323841, #21252b);
    border-radius: 30px;
    box-shadow: 0 4px 4px var(--color3)00080;
    overflow: hidden;
}
.content .left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
    background-color: #323841D4;
    padding-inline: 4%;
    padding-top: 4%;
}
.content .left .infos{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    border-bottom: 2px solid hsla(0, 0%, 0%, 0.32);
    padding-bottom: 35px;
}
.content .left .infos > p:nth-child(1){
    color: var(--color1);
    font-size: 35px;
    font-family: var(--font1);
    font-weight: 400;
    text-transform: capitalize;
}
.content .left .infos > p:nth-child(2){
    color: var(--color2);
    font-size: 15px;
    font-weight: 400;
    font-family: var(--font2);
    width: 10   0%;
}

.content .left .infos .info{
    display: flex;
    gap: 8%;
    height: 40%;
    width: 75%;
    padding-left: 3%;
}
.content .left .infos .info i{
    border-radius: 50%;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color2);
    background-color: #2f8587;
    width: 52px;
    height: 52px;
    box-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.25);

}
.content .left .infos .info .ps{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
}
.content .left .infos .info .ps p:nth-child(1){
    color: var(--color1);
    font-size: 21px;
    font-weight: 400;
    font-family: var(--font1);
    text-transform: capitalize;
    text-shadow: 0 4px 4px var(--color3)00040;
}
.content .left .infos .info p:nth-child(2){
    font-size: 15px;
    font-weight: 400;
    font-family: var(--font2);
    text-transform: capitalize;
    color: var(--color2);
    font-weight: 200;
    width: 100%;
}

.content .left .social{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    padding-top: 7%;
}
.content .left .social p{
    font-family: var(--font1);
    text-transform: capitalize;
    color: var(--color2);
    font-size: 18px;
    font-weight: 700;
}
.content .left .social .accs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.content .left .social .accs i{
    background-color: #2F8587;
    /* padding: 10px; */
    color: var(--color2);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.content .right{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 20px;
    width: 60%;
    height: 100%;
    padding-left: 6%;
    padding-block: 5%;
}
.content .right p{
    width: 95%;
    text-align: start;
    font-size: 35px;
    font-family: var(--font1);
    color: var(--color1);
}
.content .right form{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.content .right form .input {
    width: 47%;
    position: relative;
}
.content .right form .input span {
    position: absolute;
    bottom: -60%;
    left: 0;
    color: red;
}
.content .right form .input input,
.content .right form .input textarea{
    border-radius: 15px;
    background-color: #5159664A;
    border: 1px solid transparent;
    padding: 10px;
    color: #DEDCDCC7;
    box-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.25);
    position: relative;
}
.content .right form .input input{
    width: 100%;
    height: 39px;
}
.content .right form .input input:focus,
.content .right form .input textarea:focus{
    border: 1px solid var(--color1);
    outline: none;
}
.content .right form .input:nth-child(5),
.content .right form .input:nth-child(6){
    width: 100%;
}
.content .right form .input textarea{
    height: 135px;
    width: 100%;
}
.content .right form .input:nth-child(6) span{
    bottom: -15%;
}
.content .right form > input{
    background-color: #2f8587;
    text-transform: capitalize;
    color: #DEDCDC;
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: 19px;
    font-family: var(--font1);
    border: none;
    border-radius: 20px;
}
.content .right form .input span{
    display: none;
}

iframe{
    width: 100%;
    height: 50vh;
    border: none;
    filter: brightness(.5);
}

@media  (max-width:767px) {
    .hero {
        background-position: left;
    }
    .hero .title {
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .hero .title p:nth-child(1) {
        font-size: clamp(1rem, 12vw, 4rem);
    }
    .hero .title p:nth-child(2) {
        font-size: clamp(.5rem, 6vw, 3rem);
        width: 90%;
    }
    .content {
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .content .left {
        width: 100%;
        padding-inline: 5%;
        /* padding-top: 0; */
        padding-block: 10%;
    }
    .content .left .infos > p:nth-child(1) {
        font-size: clamp(1rem, 10vw, 4rem);
    }
    .content .left .infos > p:nth-child(2) {
        font-size: clamp(.5rem, 4vw, 4rem);
    }
    .content .left .infos .info .ps p:nth-child(1) {
        font-size: clamp(1rem, 6vw, 4rem);
    }
    .content .left .infos .info .ps p:nth-child(2) {
        font-size: clamp(.5rem, 4vw, 4rem);
    }
    .content .left .infos .info {
            gap: 0%;
            height: 40%;
            width: 100%;
            padding-left: 0%;
            justify-content: space-around;
    }
    .content .left .infos .info .ps {
        gap: 5px;
        width: 75%;
    }
    
    .content .left .infos .info i {
        width: 50px;
        height: 50px;
        font-size: clamp(1rem, 6vw, 3rem);
    }
    .content .left .social p {
        font-size: clamp(.5rem, 5vw, 3rem);
    }
    .content .left .social .accs i {
        font-size: clamp(.5rem, 5vw, 3rem);
    }
    .content .right {
        width: 100%;
    }
    .content .right p {
        width: 100%;
        text-align: start;
        font-size: clamp(1rem, 8vw, 3rem);
    }
    .content .right form .input {
        width: 100%;
    }
    
    .content .right form {
        gap: 30px;
    }
}
