* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 15vh;
}
@font-face {
    font-family: "Arial Rounded MT Bold" ;
    src: url(../font1/arialroundedmtbold.ttf);
}


:root{
    --font1: "Arial Rounded MT Bold" ;
    --font2: sans-serif ;
    --color1: #30B6B9 ;
    --color2: #fff ;
    --color3: #000 ;
    --color4:#2F8587;
    --shadow1: 0 4px 4px #00000040 ;
    --shadow2: 0 4px 4px #000 ;
}
body {
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* background-image: linear-gradient(to right,#323841,#21252B); */
    background: linear-gradient(114.8deg, #323841 4.8%, #21252B 95.2%);
    /* gap: 10vh; */
    height: 100vh;
}
nav{
    width: 100%;
    height: 10%;
    border: 1px solid var(--color1);
}
.form{
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: var(--shadow2);
    position: relative;
    background-color: #2A989B;
    transition: all 1s ease;
    /* flex-direction: row; */
}








.form .banner{
    width: 100%;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 50px;
    transition: 1s;
    order: 1;
    background-color: transparent;
    /* padding-right: 60%; */
    /* padding-left: 1%; */
    /* position: absolute; */
    /* left: 0; */
    z-index: 1;
    /* padding-block: 5%; */
}
.form .banner p{
    font-size: 30px;
    color: var(--color2);
    font-family: var(--font1);
    position: relative;
    text-transform: capitalize;
    width: 100%;
    text-align: center;
    line-height: 50px;
}
.form .banner p::before{
    content: '';
    position: absolute;
    background-color:  #FFFFFF3B;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    top: -15%;
    left: 19%;
}
.form .banner p::after{
    content: '';
    position: absolute;
    background-color:  #FFFFFF3B;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    top: 67%;
    left: 70%;
}
.form .banner .robot{
    height: 50%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.form .banner .robot span{
    position: absolute;
    transform: translate(-50%,-50%);
    background: #FFFFFF3B;
    border-radius: 50%;
    box-shadow: var(--shadow1);
    z-index: -1;
    /* transition: 1s; */
}
.form .banner .robot span:nth-child(1){
    width: 10px;
    height: 10px;
    top: 30%;
    /* left: 35%; */
    left: 39%;
}
.form .banner .robot span:nth-child(2){
    width: 20px;
    height: 20px;
    top: 27%;
    /* left: 32%; */
    left: 35%;
}
.form .banner .robot span:nth-child(3){
    width: 30px;
    height: 30px;
    top: 23%;
    /* left: 27%; */
    left: 29%;
}
.form .banner .robot span:nth-child(4){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    text-transform: capitalize;
    font-size: 18px;
    font-family: var(--font1);
    color: var(--color2);
    top: 17%;
    /* left: 12%; */
    left: 13%;
}
.form .banner .robot img{
    height: 80%;
    filter: drop-shadow( var(--shadow1));

}
.form .banner button{
    padding: 10px 60px;
    text-transform: capitalize;
    color: var(--color2);
    font-family: var(--font1);
    font-size: 22px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #DEDCDCC7;
    border-radius: 50px;
    box-shadow: var(--shadow1),
                var(--shadow1);
    cursor: pointer;
    transition: 1s;

}


/* .form .banner .logBtn.active */
/* .form .banner .logBtn.active */
/* .form .banner .logBtn.active */




.form .sign,
.form .login{
    width: 60%;
    background: linear-gradient(108.69deg, #21252B 3.09%, #323841 50%, #21252B 96.91%);
    height: 100%;
    /* border-radius: 50px; */
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 2;
    display: flex ;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    padding-block: 3% 1%;
    padding-inline: 5%;
    transition: 1s;
    order: 2;
}
.form .sign > p{
    color: var(--color1);
    text-transform: capitalize;
    font-size: 30px;
    font-family: var(--font1);
    text-shadow: var(--shadow1);
    width: 100%;
    text-align: left;
}
.form .sign form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 70%;
    gap: 8% 0px;
}
.form .sign form .input{
    width: 47%;
    position: relative;
}
.form .sign form .input span{

    /* display: none; */

    position: absolute;
    bottom: -50%;
    left: 10px;
    color: red;
    font-size: 14px;
    text-transform: capitalize;
    font-family: var(--font2);
}
.form .sign form > .input input,
.form .sign form >  .pass{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: #5159664A;
    border: 1px solid transparent;
    padding: 20px;
    color: #DEDCDCC7;
    box-shadow: 0 4px 4px #00000040;
    transition: .3s;
}
.form .sign form > .input input:focus,
.form .sign form >  .pass input:focus{
    outline: none;
    border: 1px solid var(--color1);
}
.form .sign form > .input:nth-child(5),
.form .sign form > .pass{
    width: 100%;
    /* padding: 0 0 0 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .sign form > .pass{
    padding: 0;
    position: relative;
}
.form .sign form > .pass input{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    padding: 0 0 0 10px;
    border-radius: 50px;
    color: #DEDCDCC7;
    border: 1px solid transparent;
    transition: .3s;
}
.form .sign form >  .pass i{
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50%,-50%);
    color: var(--color1);
    font-size: 20px;
}
.form .sign form >  .pass .nosee{
    opacity: 0;
}
.form .sign form > .terms{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 2%;
}
.form .sign form > .terms input{
    accent-color: var(--color1);
    cursor: pointer;
}
.form .sign form > .terms p{
    font-size: 14px;
    color: var(--color2);
    font-family: var(--font1);
}
.form .sign form > .terms p span{
    color: var(--color1);
}
.form .sign form .send{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form .sign form .send .submit{
    padding: 10px 120px;
    text-transform: capitalize;
    color: var(--color2);
    background-color: var(--color4);
    box-shadow: var(--shadow1),
                var(--shadow1),
                var(--shadow1),
                var(--shadow1);
    font-size: 20px;
    font-family: var(--font1);
    /* width: 45%; */
    /* height: 50px; */
    border-radius: 20px;
    border: none;
    cursor: pointer;
} 
.form .sign .seperate{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.form .sign .seperate span{
    background-color:  #00000052;
    width: 35%;
    height: 2px;
    box-shadow: var(--shadow1);
}
.form .sign .seperate p{
    color: #DEDCDC;
    font-size: 18px;
    text-shadow: var(--shadow1);
    font-family: var(--font2);
    text-transform: capitalize;
}
.form .sign .accs {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form .sign .accs i{
    background-color: var(--color4);
    /* padding: 10px; */
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}

/* ---------------------- */
/* ---------------------- */
/* ---------------------- */
/* ---------------------- */

.form .login{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    transition: 1s;
}
.form .login p{
    color: var(--color2);
    text-transform: capitalize;
    font-family: var(--font1);
    font-size: 30px;
}
.form .login .accs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.form .login .accs i{
    width: 30px;
    height: 30px;
    color: var(--color2);
    background-color: var(--color4);
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.form .login > span{
    font-size: 20px;
    color: var(--color2);
    text-transform: lowercase;
    font-family: var(--font2);
    text-shadow: 0px 4px 4px 0px #00000040;
}
.form .login form{
    height: 22%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.form .login form .input{
    width: 70%;
    height: 40px;
    position: relative;

    /* border-radius: 20px; */
    /* overflow: hidden; */
}
.form .login form .input input{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: #5159664A;
    border: 1px solid transparent;
    padding: 20px;
    color: #DEDCDCC7;
    box-shadow: 0 4px 4px #00000040;
    transition: .3s;
}
.form .login form .input span{

    /* display: none; */

    position: absolute;
    bottom: -60%;
    left: 10px;
    color: red;
    font-size: 14px;
    text-transform: capitalize;
    font-family: var(--font2);
}

.form .login form > .input input:focus,
.form .login form >  .pass input:focus{
    outline: none;
    border: 1px solid var(--color1);
}
.form .login form > .pass {
    position: relative;
}
.form .login form > .pass input{
    width: 100%;
    height: 100%;
    /* background: none; */
    border: none;
    padding: 0 0 0 10px;
    border-radius: 50px;
    color: #DEDCDCC7;
    border: 1px solid transparent;
    transition: .3s;
}
.form .login form >  .pass i{
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50%,-50%);
    color: var(--color1);
    font-size: 20px;
}
.form .login form > .pass .nosee{
    opacity: 0;
}
.form .login .forget{
    color: var(--color1);
    text-decoration: none ;
    font-family: var(--font1);
    text-shadow: 0px 4px 4px  #00000040;
    font-size: 16px;
    position: relative;
}
    .form .login .forget::after{
        content: '';
        position: absolute;
        bottom: -50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color:  #00000052;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .form .login .send{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form .login .send .submit{
        padding: 10px 120px;
        text-transform: capitalize;
        color: var(--color2);
        background-color: var(--color4);
        box-shadow: var(--shadow1),
                    var(--shadow1),
                    var(--shadow1),
                    var(--shadow1);
        font-size: 20px;
        font-family: var(--font1);
        /* width: 45%; */
        /* height: 50px; */
        border-radius: 20px;
        border: none;
        cursor: pointer;
    } 

    /* ----------------------- */
    /* ----------------------- */
    /* ----------------------- */
    /* ----------------------- */
    /* --------active----------- */




.form.active .banner {
    transform: translateX(150%);
}


.form.active .login {
    transform: translateX(0%) ;
    display: flex;
    opacity: 1;
}
.form.active .sign {
        transform: translateX(-67%);
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}
.form .sign{
    transform: translate(0);
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);

}
.form .login{
        position: absolute;
        transform: translateX(67%);
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }

/* ------------------- */