* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 15vh;
}
@font-face {
    font-family: "Arial Rounded MT Bold" ;
    src: url(../font1/arialroundedmtbold.ttf);
}


:root{
    --font1: "Arial Rounded MT Bold" ;
    --font2: sans-serif ;
    --color1: #30B6B9 ;
    --color2: #fff ;
    --color3: #000 ;
    --color4:#2F8587;
    --shadow1: 0 4px 4px #00000040 ;
    --shadow2: 0 4px 4px #000 ;
}
body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(114.8deg, #323841 4.8%, #21252B 95.2%);
    gap: 5vh;
    position: relative;
}

nav{
    height: 10vh;
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 99999999;
    border-bottom: 1px solid var(--color2);
}
.head{
    width:100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head .search{
    width: 50%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head .search .input{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    /* overflow: hidden; */
    background-color: #51596680;
    box-shadow: 0px 4px 4px 0px #00000040,
                0px 4px 4px 0px #00000040,
                0px 4px 4px 0px #00000040;
}
.head .search .input input{
    width: 90%;
    height: 100%;
    padding-left: 2%;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: none;
    font-size: 20px;
    color: var(--color2);
}
.head .search .input input:focus{
    outline: none;
    border-color: var(--color1);
}
.head .search .input i{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: var(--color4);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: var(--color2);
    cursor: pointer;

}
.head .search >i{
    color: var(--color1);
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--color1);
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000040,
                0px 4px 4px 0px #00000040,
                0px 4px 4px 0px #00000040,
                0px 4px 4px 0px #00000040;
    background-color: #51596680;
}

.content{
    width: 90%;
    min-height: 90vh;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.content .filter{
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    border-radius: 10px;
    /* padding: 10px 0 10px 2%; */
    background-color: var(--color4);
    box-shadow: 0px 4px 4px 0px #00000040,
                0px 4px 4px 0px #00000040,
                0px 4px 4px 0px #00000040,
                0px 4px 4px 0px #00000040;
                


}
.content .filter h1{
    text-transform: capitalize;
    color: var(--color2);
    font-family: var(--font1);
    width: 100%;
    height: 15%;
    text-shadow: 0px 4px 4px #00000040,
                0px 4px 4px #00000040;
    box-shadow: 0px 4px 4px 0px #FFFFFF3B;
    padding:  20px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.filter .select-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100px;
    cursor: pointer;
    padding: 20px;

}
.filter .select-btn span{
    text-transform: capitalize;
    font-size: 25px;
    color: var(--color2);
    font-family: var(--font1);
    font-weight: 400;
    
}
.filter .select-btn i{
    font-size: 12px;
    color: var(--color2);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.filter.active1 .select-btn i{
    transform: rotate(-180deg);
}
.filter .options{
    padding-left: 20%;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    transition: 1s;
    height: 0;
    /* width: 0; */
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    /* transform: scaleY(0); */
    /* transition-delay: 1s , 0s; */
    /* transition-property: display , clip-path; */

}
.filter.active1 .options{
    /* width: 100%; */
    height: 57%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition-property: clip-path ,height  ;
    transition-delay: .5s , 0s  ;
}
.filter.hide .options{
    transition-property: clip-path ,height  ;
    transition-delay: .5s , 0s  ;
    /* width: 0%; */
    height: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

}

.filter .options .option{
    cursor: pointer;
    color: var(--color2);
    font-size: 20px;
    text-transform: capitalize;
    font-family: var(--font2);
    width: 100%;
    text-align: start;
}
.filter .options .option:hover{
    color: #0A2A2B;
    text-shadow: 0px 4px 4px  #00000040;
}
.filter .options .option.active2{
    color: #0A2A2B;
    text-shadow: 0px 4px 4px  #00000040;
}




.filter .price{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
}
.filter .price > p{
    color: var(--color2);
    font-size: 25px;
    text-transform: capitalize;
    font-family: var(--font1);
    width: 100%;
    text-align: start;
    padding: 20px;
}



  /* .filter .price .sliderValue{
    position: relative;
    width: 100%;
  } */

  /* .filter .price .field  span:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: #664AFF;
    border: 3px solid #fff;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-bottom-left-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  } */

  .filter .price .range{
    height: 100px;
    width: 80%;
    /* border-radius: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  .filter .price .field{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 100%;
    position: relative;
  }

  .filter .price .field .value{
    position: absolute;
    font-size: 13px;
    color: var(--color2);
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--font1);
    transform: translateX(-50%);
  }
  .filter .price .field .value.left{
    left: 5%;
    top: 75%;
  }
  .filter .price .field .value.mid{
    left: 50%;
    top: 75%;
  }
  .filter .price .field .value.right{
    right: -20%;
    top: 75%;
  }
  .filter .price .range input{
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: linear-gradient(to right, var(--color1) 0%, var(--color2) 0%); /* لون المسار */

    border-radius: 15px;
    outline: none;
    border: none;
    z-index: 2222;
  }
  .filter .price .range input::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px;
    height: 20px;
    background: #fff; 
    border-radius: 50%; 
    cursor: pointer;
    border: 3px solid var(--color1); 
    outline: 3px solid #000; 
}














.content .items{
    background: linear-gradient(338.82deg, #21252B 0.06%, #323841 50%, #21252B 99.94%);
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    height: 100%;
    width: 75%;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    scrollbar-width: 10px;
    padding: 3% 4%;
    gap: 40px 0px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040,
                0px 4px 4px 0px #00000040,
                0px 4px 4px 0px #00000040,
                0px 4px 4px 0px #00000040;


}
.content .items > *{
    scroll-snap-align: end;
    scroll-snap-stop: always;
}
.content .items::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
    /* color: beige; */
}
.content .items::-webkit-scrollbar-track{
    background-color: transparent;
    /* width: 10px; */
}
.content .items::-webkit-scrollbar-thumb{
    background-color: var(--color1);
    border-radius: 10px;
}
.content .items .item{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    /* gap: 10px; */
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #51596659;
    width: 22%;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.content .items .item >i{
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--color2);
    font-size: 16px;
    cursor: pointer;
    
}
.content .items .item .fav.active{
    color: var(--color1);
}
.content .items .item .img{
    padding: 10px ;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000040,
                0px 4px 4px 0px #00000040;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.content .items .item .img img{
    width: auto;
    height: 100%;
    
}
.content .items .item .info{
    padding: 10px ;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.content .items .item .info .name{
    color: var(--color1);
    text-transform: capitalize;
    font-size: 15px;
    font-family: var(--font1);
    text-shadow: 0px 4px 4px 0px #00000040;
    width: 100%;
    text-align: center;

}
.content .items .item .info > span{
    color: var(--color2);
    text-transform: lowercase;
    font-size: 12px;
    font-family: var(--font2);
    width: 100%;
    text-align: center;
}
.content .items .item .info .div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .items .item .info .div .qty{
    color: var(--color2);
    font-family: var(--font2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    /* gap: 5px; */
}
.content .items .item .info .div .qty span:nth-child(1),
.content .items .item .info .div .qty span:nth-child(3){
    background-color: var(--color4);
    width: 20px;
    height: 20px;
    font-size: 17px;
    font-weight: 400;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000040;

}
.content .items .item .info .div .price{
    color: var(--color2);
    font-size: 15px;
    font-family: var(--font1);
    text-transform: uppercase;
    text-shadow: 0px 4px 4px  #00000040;

}
.content .items .item .info .div2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    width: 100%;
}
.content .items .item .info .div2 .stars{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.content .items .item .info .div2 .stars i{
    text-shadow: 0px 4px 4px  #00000040;
    color: #FBB500;
    font-size: 10px;
}
.content .items .item .info .div2 button{
    text-transform: capitalize;
    color: var(--color2);
    font-family: var(--font1);
    font-size: 11px;
    background-color: var(--color4);
    border-radius: 5px;
    /* width: 45%; */
    /* height: 30px; */
    padding: 5px 14px;
    border: none;
    box-shadow: 0px 4px 4px  #00000040;
    cursor: pointer;
}